@import 'normalize.css';

@font-face {
    font-family: 'creep';
    src: url('../assets/fonts/Creepster-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'mood';
    src: url('../assets/fonts/JimNightshade-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-blood-red: #880808;
    --color-off-white: antiquewhite;
    --content-margin-side: 2rem;
    --trans-out: .8s;
    --trans-in: .3s;
}

body {
    font: 2rem / 1.6 'mood', Serif;
}

ul {
    list-style: none;
}

input {
    border: none;
    background-color: transparent;
    appearance: none;
    line-height: 1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'creep';
    font-size: #{vw-clamp(5rem, 12rem)};
    margin: 0 0 #{base-clamp(1.5rem)};
    text-align: center;
    color: transparent;
    line-height: 1.2;
    background-clip: text;
    background-color: var(--color-blood-red);
    opacity: 0;
    transform: scaleX(.9);
    animation: fadeIn 1.2s .4s both linear;

    &:hover {
        background-position: 200% 50%;
    }
}

::selection {
    color: var(--color-off-white);
    background-color: var(--color-blood-red);
}

@keyframes fadeIn {
    to {
        transform: scaleX(1);
        opacity: 1;
    }
}
