.board {
    max-width: #{base-clamp(40rem)};
    margin: 0 auto;
    padding: #{base-clamp(2rem)} #{base-clamp(4rem)};
    display: grid;
    grid-template-columns: repeat(var(--items-amount, 4), minmax(#{base-clamp(4rem)}, 1fr));
    grid-gap: 3rem;
    background-image: url('../assets/img/wood_pattern_horizontal.png');
    background-color: #613535;
    box-shadow: .6rem .4rem 1.4rem .3rem rgba(black, .7);
    transform: rotate(1deg);

    &__item {
        position: relative;
        aspect-ratio: 4 / 5;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: #{base-clamp(4rem)};
        line-height: 1;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: .4rem;
            z-index: 1;
            width: #{vw-clamp(.8rem, 1.4rem)};
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: #424437;
            box-shadow: .3rem -.2rem .8rem -.1rem rgba(black, .7);
        }

        &::before {
            left: .4rem;
        }

        &::after {
            top: .5rem;
            right: .3rem;
        }
    }
}
