@use 'sass:math';

.pentagram {
    position: relative;
    width: #{base-clamp(30rem)};
    margin: 0 auto #{base-clamp(-6rem)};
    aspect-ratio: 1;
    border: #{base-clamp(1.5rem)} solid var(--color-blood-red);
    border-radius: 50%;
    transform-origin: 50% 0;
    transform: rotateX(40deg);
    filter: drop-shadow(0 0 .4rem var(--color-blood-red));
    transition: filter var(--trans-out);

    &:hover {
        filter: drop-shadow(0 0 2rem var(--color-blood-red));
    }

    &__line {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    &__line::after {
        content: '';
        position: absolute;
        bottom: #{base-clamp(3.3rem)};
        width: #{base-clamp(27rem)};
        height: #{base-clamp(1.5rem)};
        background-color: var(--color-blood-red);
        transform: translate(-50%, -50%);
    }

    @for $i from 1 through 5 {
        &__line:nth-child(#{$i}) {
            transform: rotate(#{math.div(360deg, 5) * $i});
        }
    }
}

.pentagram-wrapper {
    perspective: #{base-clamp(37.5em)};
    transform-style: preserve-3d;
}
