@use 'sass:math';

@import 'normalize.css';

@font-face {
    font-family: 'creep';
    src: url('../assets/fonts/Creepster-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'mood';
    src: url('../assets/fonts/JimNightshade-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-blood-red: #880808;
    --content-margin-side: 2rem;
    --trans-out: .8s;
    --trans-in: .3s;
}

body {
    font: 2rem / 1.6 'mood', Serif;
}

ul {
    list-style: none;
}

input {
    border: none;
    background-color: transparent;
    appearance: none;
    line-height: 1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

h1 {
    font-family: 'creep';
    margin: 0 0 2rem;
    text-align: center;
    color: var(--color-blood-red);
    line-height: 1.2;
    text-shadow: .4rem .5rem .8rem rgba(white, .4);
}

.shields {
    max-width: 40rem;
    margin: 0 auto;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(var(--items-amount, 4), minmax(4rem, 1fr));
    grid-gap: 3rem;
    background-image: url('../assets/img/wood_pattern_horizontal.png');
    background-color: #613535;
}

.shield {
    aspect-ratio: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    font-size: 4rem;
    line-height: 1;
}

.floor,
.wall {
    flex: 1 0 50%;
}

.wall {
    --bg-c-1: #B00;
    --bg-c-2: #D00;

    padding: 4rem;
    background-color: silver;
    background-image: linear-gradient(335deg, var(--bg-c-1) 23px, transparent 23px),
    linear-gradient(155deg, var(--bg-c-2) 23px, transparent 23px),
    linear-gradient(335deg, var(--bg-c-1) 23px, transparent 23px),
    linear-gradient(155deg, var(--bg-c-2) 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.letter {
    position: relative;
    width: 30rem;
    margin: 0 auto;
    padding: 3rem 2rem;
    font-size: 2rem;
    box-shadow: 0 0 0 black, 0 0 6em #8A4D0F inset;
    background-color: #FFFEF0;
    transform: rotateX(30deg) rotateZ(10deg) scale(.4);
    transition: transform var(--trans-out);
    transform-style: preserve-3d;

    &:hover {
        transform: none;
        transition-duration: var(--trans-in);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: 8rem 5rem 2rem 2rem;
        background-color: black;
        box-shadow: -.4rem -.2rem 2rem .4rem rgba(black, .5), .2rem 0 1rem .4rem rgba(black, .3);
        transition: box-shadow var(--trans-out);
        transform: translateZ(-1px);
        backface-visibility: hidden;
    }

    &:hover::before {
        box-shadow: -.4rem -.2rem 5rem 0 rgba(black, .01);
        transition-duration: var(--trans-in);
    }

    &::after {
        --pg-1: linear-gradient(265deg, rgba(0, 0, 0, 0.2), transparent 15%);
        --pg-2: linear-gradient(5deg, rgba(0, 0, 0, 0.2), transparent 15%);
        --pg-3: linear-gradient(-5deg, rgba(0, 0, 0, 0.1), transparent 15%);
        --pg-4: linear-gradient(5deg, rgba(0, 0, 0, 0.1), transparent 15%);
        --pg-5: linear-gradient(-265deg, rgba(0, 0, 0, 0.2), transparent 15%);
        --pg-6: linear-gradient(-5deg, rgba(0, 0, 0, 0.2), transparent 15%);
        --pg-7: linear-gradient(266deg, rgba(0, 0, 0, 0.2), transparent 15%);

        content: '';
        position: absolute;
        inset: 0;
        z-index: 1;
        background-image: var(--pg-1), var(--pg-2), var(--pg-3), var(--pg-4), var(--pg-5), var(--pg-6), var(--pg-7);
        background-size: 100% 33.4%;
        pointer-events: none;
    }

    &__content {
        margin-bottom: 3rem;
    }

    &__book {
        text-align: right;
    }

    &__author {
        display: block;
        margin-top: .4rem;
        text-align: right;
        color: var(--color-blood-red);
        transform: rotate(-4deg);
    }
}

.letter-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform-style: preserve-3d;
    perspective: 40em;
    transform: translate(-50%, -50%);
}

.floor {
    --fg-1: rgb(30, 30, 30);
    --fg-2: rgb(30, 30, 30, .8);
    --fg-3: rgba(96, 96, 96, .4);

    position: relative;
    padding: 3rem 1rem;

    &::after {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        z-index: -1;
        filter: contrast(100%) brightness(150%);
        background-color: #000;
        background-image: linear-gradient(0deg, var(--fg-1), var(--fg-2), var(--fg-3)),
        url('../assets/img/ground_noise.svg');
        background-size: 40rem 100%, 10rem auto;
    }
}

.pentagram {
    position: relative;
    width: 40rem;
    margin: 0 auto;
    aspect-ratio: 1;
    border: 2rem solid var(--color-blood-red);
    border-radius: 50%;
    transform-origin: 50% 0;
    transform: rotateX(30deg);

    &__line {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    &__line::after {
        content: '';
        position: absolute;
        bottom: 4.4rem;
        width: 36rem;
        height: 2rem;
        background-color: var(--color-blood-red);
        transform: translate(-50%, -50%);
    }

    @for $i from 1 through 5 {
        &__line:nth-child(#{$i}) {
            transform: rotate(#{math.div(360deg, 5) * $i});
        }
    }
}

.pentagram-wrapper {
    perspective: 50em;
    transform-style: preserve-3d;
}
