@import 'normalize.css';

@font-face {
    font-family: 'mood';
    src: url('../assets/fonts/JimNightshade-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --content-margin-side: 2rem;
}

body {
    font: 2rem / 1.6 'mood', Serif;
}

ul {
    list-style: none;
}

input {
    border: none;
    background-color: transparent;
    appearance: none;
    line-height: 1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    width: calc(100% - var(--content-margin-side));
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
}

.shields {
    max-width: 40rem;
    margin: 0 auto;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(var(--items-amount, 4), minmax(4rem, 1fr));
    grid-gap: 3rem;
    background-image: url('../assets/img/wood_pattern_horizontal.png');
    background-color: #613535;
}

.shield {
    aspect-ratio: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    font-size: 4rem;
    line-height: 1;
}

.wall {
    padding: 4rem;
    background-color: silver;
    background-image: linear-gradient(335deg, #B00 23px, transparent 23px),
    linear-gradient(155deg, #D00 23px, transparent 23px),
    linear-gradient(335deg, #B00 23px, transparent 23px),
    linear-gradient(155deg, #D00 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.letter {
    position: relative;
    width: 26rem;
    margin: 0 auto;
    padding: 3rem 2rem;
    font-size: 1.6rem;
    box-shadow: 0 0 0 black, 0 0 6em #8A4D0F inset;
    background-color: #FFFEF0;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 1;
        background-image: linear-gradient(265deg, rgba(0, 0, 0, 0.2), transparent 15%), linear-gradient(5deg, rgba(0, 0, 0, 0.2), transparent 15%), linear-gradient(-5deg, rgba(0, 0, 0, 0.1), transparent 15%), linear-gradient(5deg, rgba(0, 0, 0, 0.1), transparent 15%), linear-gradient(-265deg, rgba(0, 0, 0, 0.2), transparent 15%), linear-gradient(-5deg, rgba(0, 0, 0, 0.2), transparent 15%), linear-gradient(266deg, rgba(0, 0, 0, 0.2), transparent 15%);
        background-size: 100% 33.4%;
    }

    &__content {
        margin-bottom: 3rem;
    }

    &__book {
        text-align: right;
    }

    &__author {
        display: block;
        margin-top: .4rem;
        text-align: right;
        color: #880808;
        transform: rotate(-4deg);
    }
}
